.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

#output {
  font - weight: bold;
  font-size: 60px;
}

#buttoning {
  font - weight: bold;
  font-size: 60px;
}

#buttonMash {
  font - weight: bold;
  font-size: 60px;
}
